@import "../../vars.css";

/* .container {
text-align: center;
line-height: 40px;
}

.heading {
padding: 10px;
}

.paragraph {

} */

.reportForm {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.reportForm h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.reportForm label {
  font-weight: bold;
  color: #555;
}

.reportForm input[type="text"],
.reportForm input[type="date"],
.reportForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reportForm textarea {
  resize: vertical;
}

.reportForm button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.reportForm button[type="submit"]:hover {
  background-color: #0056b3;
}
