@import "../../vars.css";

.container {
justify-content: center;
}
 
.heading {
padding: 10px;
color: var(--color-primary);
text-align: center;
}


.reportForm {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 50px;
}

.submitButton {
  background-color: var(--color-button);
}

.submitButton{
  padding: 7px;
  margin-top: 5px;
  width: 300px;
  background-color: var(--color-button-alert);
  color: var(--color-button-text);
  border: none;
  border-radius: 4px;
}

.submitButton:hover{
  padding: 7px;
  margin-top: 5px;
  width: 300px;
  background-color: var(--color-button-alert-hover);
  color: var(--color-button-text-hover);
  border: none;
  border-radius: 4px;
}

.formItems {
  text-align: center;
  align-content: center;
}

.formLabels {
  padding: 25px;
  margin: 25px;
}

.formInput {
max-width: 75%;
text-align: center;
}

.formGroup {

}

/* ReCaptcha Form Styling */
.input{
  width: 295px;
  height: 30px;
  border: rgb(122, 195, 238) 2px solid;
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  
}

.input:focus{
  border: none;
  
}

label{
  display: block;
  margin-bottom: 2px;
  font-family: 'Roboto', Arial, sans-serif;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* end */



/* Discarded old CSS */



/* .reportForm label {
  font-weight: bold;
  color: #555;
} */

/* .reportForm input[type="text"],
.reportForm input[type="date"],
.reportForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

/* .reportForm h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
} */

/* .reportForm textarea {
  resize: vertical;
} */

/* .reportForm button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--color-button);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.reportForm button[type="submit"]:hover {
  background-color: var(--color-button-hover);
} */