@import "../../vars.css";

/* Nav styling */

/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
} */

.heading {
  padding: 10px;
}

.navbar {
  border-bottom: 2px solid #eeeeee;
  background-color: transparent;
  line-height: 40px;
  border: none;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  text-align: left;
  max-width: 100%;
  height: auto;
}

.navLinks {
  display: flex;
  align-items: right;
  color: var(--color-link);
}

.navLink {
  font-size: 16px;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--color-link-hover);
}
