@import "../../vars.css";

.container {
text-align: center;
line-height: 40px;
}

.heading {
padding: 10px;
}

.paragraph {

}

.numberedList {

}

.numberedItem {

}

.navLinks {

}

.navLink {
    
}