/* style.css */
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

#root {
  height:100vh;
}

.map-container {
  width: calc(100% - 200px);
  height: 50vh;
  margin: 30px auto;
  border: 2px solid var(--color-primary);
  border-radius: 30px;
  overflow: hidden;
}

.heading {
 padding: 10px;
color: var(--color-primary);
text-align: center;
}



.dropdown {
  position: absolute;
  top: 10%; 
  left: 10%; 
  z-index: 999; 
}

.dropdown select {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
