@import "../../vars.css";

.container {
  line-height: 40px;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.heading {
  padding: 10px;
  font-weight: bolder;
  text-align: center;
}

.paragraph {
  margin-top: 50px;
  font-size: var(--size-text);
  text-align: justify;
}

.list {
  font-size: var(--size-text);
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
