@import "../../vars.css";

/* Footer Styling */
.footer {
    padding: 20px 0;
    text-align: center;
  }
  
  .footerButtons {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .footerButton {
    padding: 7px;
    margin-top: 100px;
    width: 200px;
    color: var(--color-button-text);
    background-color: var(--color-button);
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .footerButton:hover {
    color: var(--color-button-text-hover);
    background-color: var(--color-button-hover);
  }
  
  p.copyright {
    color: var(--color-text);
  }
  