@import "../../vars.css";

.container {
  text-align: center;
  line-height: 40px;
  padding-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.heading {
  padding: 10px;
  font-weight: bolder;
}

.paragraph {
  margin-top: 50px;
  font-size: var(--size-text);
  text-align: justify;
}

.orderedList {
  font-size: var(--size-text);
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
