:root {
  --color-text: #3d3d3d;
  --color-primary: #19377b;
  --color-secondary: #2d50a3;
  --color-accent: #b3001b;
  --color-bg: #fbfbff;

  --color-link: #b3001b;
  --color-link-hover: #e00022;

  --color-button: #19377b;
  --color-button-text: #ebece9;
  --color-button-hover: #2d50a3;
  --color-button-text-hover: #ebece9cf;
  --color-button-alert: #b3001b;
  --color-button-alert-hover: #e00022;

  --size-heading: 48px;
  --size-secondary-heading: 32px;
  --size-text: 24px;
  --size-captions: 18px;
}
